/* RESET */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #00000e;
}

header {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin: 30px;
}

nav {
    height: 63px;
    width: 100%;
    background-color: #ffee1e;
    min-width: 360px;
}

.lista_menu {
    display: flex;
    flex-wrap: wrap;
}

.menu_item {
    font-size: 1.5em;
    color: #00000e;
    height: 63px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#item1 {
    background-color: #00000e;
    color: white;
    margin-left: 40px;
}

footer {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}
.container {
}
/* Classes e ids referentes as possíveis trocas com o AJAX */

/*HOME*/
.container_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pontuacoes {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex-grow: 1;
}

.pub_simulado {
}

#pontuacoes_h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
}

#lista_pontuacoes {

}

.pontuacao_item {
    color: #00000e;
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.item1 {
    background-color: #fbe2e4;
}

.item2 {
    background-color: #fff7dc;
}

.item3 {
    background-color: #e1f2e5;
}

.item_n {
    background-color: #fff68e;
    margin-bottom: 10px;
}

/*CADASTRO E LISTAGEM*/
.listagem_cadastro {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex-grow: 1;
    margin: 10px auto;
    width: 600px;
    min-width: 360px;
    border-radius: 2px;
}
.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#listagem_h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.lista_pontuacao_item{
    color: #00000e;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
}

#lista_jogadores {

}

.button_cadastro_list {
    width: 180px;
    height: 34px;
    color :white;
    background-color: #00000e;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px;
}

/*CADASTRO*/
.cadastro {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 600px;
    min-width: 360px;
    border-radius: 2px;
}

#cadastro_h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    width: 600px;
}

.img_usuario {
    height: 120px;
}

.formulario {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.input_cadastro {
    height: 40px;
    width: 400px;
    background-color: #fff68e;
    border: none;
    margin: 10px;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
}

.button_cadastro {
    width: 100px;
    height: 40px;
    color :white;
    background-color: #00000e;
    border: none;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.5s;
}

.button_cadastro:active {
    transform: scale(0.80);
    transition-duration: 0.5s;
}

.cabecalho_cadastrar {
    text-align: center;
}

/*LOGIN*/
#login_h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    width: 600px;
}

#error {
    background-color: #eb1e1e;
    color: white;
    font-size: 1.2em;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#error:active {
    transition-duration: 0.5s;
    transform: scale(0.80);
}

#correct {
    background-color: #1ce057;
    color: white;
    font-size: 1.2em;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#correct:active {
    transition-duration: 0.5s;
    transform: scale(0.80);
}

#delete {
    background-color: #eb1e1e;
    color: white;
    width: 100px;
    font-size: 1.5em;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    text-align: center;
}

#delete:active {
    transition-duration: 0.5s;
    transform: scale(0.80);
}

/*LISTAGEM DE PERGUNTAS*/
.lista_perguntas_item{
    color: #00000e;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #fff68e;
}

#edicao_h1 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    width: 600px;
}

/*SIMULADO*/

#simulado {
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cabecalho {
    width: 100%;
    text-align: center;
}

#cabecalho_h1 {
    font-size: 2.3em;
}

#cabecalho_p {
    font-size: 1.5em;
}

#opcoes {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
}

.opcao {
    background-color: #fff68e;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
